header {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #eb7575;
    position:static;
    /* top: 0px; */
  }
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav .logo {
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
  }
  .nav .logo img {
    height: 50px;
    object-fit: contain;
    margin: 20px;
  }
  .nav .menu {
    width: 55%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav .menu ul {
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav .menu ul li Link {
    font-size: 14px;
    color: #252525;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all, 0.3s;
    
  }
  .nav .menu ul li a:hover,
  .nav .menu #MenuActive {
    color: red;
  }
  .nav .buttons {
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav .buttons .users {
    display: flex;
    align-items: center;
    width: 40%;
    
    
  }
  .nav .buttons span{
    margin-right: 40px;
    cursor: pointer;
    border: solid black;
  }
  .nav .buttons span:hover{
    background-color: #6f6f6f;
    border: 1px wheat;
  }
  .nav .buttons .users span {
    font-size: 14px;
    color: #3f0cf7;
    width: 100%;
    margin-left: 6%;
  }
  .nav .buttons .shops {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
  }
  .nav .buttons div i {
    font-size: 18px;
    color: #1c1c1c;
    position: relative;
  }
  
  .nav .buttons div i span {
    height: 13px;
    width: 13px;
    background: red;
    font-size: 10px;
    color: #ffffff;
    line-height: 13px;
    text-align: center;
    font-weight: 700;
    border-radius: 50%;
    position: absolute;
    top: -52%;
    right: -12px;
  }
  
  .nav .buttons .buttonsPrice {
    font-size: 14px;
    color: #6f6f6f;
    width: 100%;
    display: flex;
    margin-left: 10%;
  }
  
  .nav .buttons .buttonsPrice span {
    color: #252525;
    font-weight: 700;
    margin-left: 7%;
  }